/* Navbar specific styles */
nav {
  background-color: #82acd5;
  padding: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav ul li {
  color: rgb(175, 67, 67);
  cursor: pointer;
}
